.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list a {
    text-decoration: none;
    color: hsl(0, 0%, 75%, 0.7);
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
}

.footer-list a:hover {
    color: hsl(180, 66%, 49%);
}

.footer-list h2 {
    font-size: 0.9rem;
    margin: 0 0 1.2rem 0;
    color: hsl(0, 0%, 100%);
}
