.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem;
}

.statistics-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 17rem;
    height: fit-content;
}

.statistics-strip {
    height: 0.5rem;
    width: 100%;
    background-color: hsl(180, 66%, 49%);
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}

.statistics-title {
    font-size: 2rem;
    color: hsl(260, 8%, 14%);
    margin: 0;
}

.statistics-paragraph {
    margin: 1rem 0 5rem;
    width: 50%;
    text-align: center;
    color: hsl(0, 0%, 60%);
}
