.card-icon {
    margin-top: -5rem;
    position: absolute;
    background-color: hsl(257, 27%, 26%);
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon svg {
    transform: scale(0.8);
}

.card {
    position: relative;
    padding: 3rem 2rem 2rem;
    width: 32%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    height: max-content;
}

.card h2 {
    font-size: 1.2rem;
    margin: 0;
    color: hsl(260, 8%, 14%);
    margin-bottom: 1rem;
}

.card p {
    font-size: 0.8rem;
    margin: 0;
    color: hsl(0, 0%, 60%);
}
